<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ainosoft.com.androiddemo">

    <!--needs to provide internet access for our app and should be first statement
    before application tag-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--Any app specific detail should be mentioned here
    like app_name, app icon and app theme.-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="trupublic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--All activity within the app should me mentioned here-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ainosoft.com.androiddemo.HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.ainosoft.com.androiddemo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ainosoft.com.androiddemo.MainActivity" />
        </activity>
    </application>

</manifest>
